.carousel-type1 {
  @include flexy($dir: row);
  // @extend %style-box-1;
  overflow: auto;
  height: 434px;
  width: 100%;
  margin-bottom: 63px;
  margin-right: 5px;
  margin-top: -183px;
  margin-left: 60px; 
}
.carousel-type1::-webkit-scrollbar {
  background: transparent; /* make scrollbar transparent */
}
.carousel-type1:hover {
  @include flexy($dir: row);
  .menu-info {
    height: 183px;
    width: 195px;
    margin-right: 11px;
    margin-top: -183px;
    margin-left: 11px;

      .info--item1 {
        button {
          height: 35px;
          width: 35px;
          padding-right: 112px;
          background: transparent;
          border: none;
        }
        .list-text {
          height: 19px;
          width: 145px;
          color: #ffffff;
          font-family: Helvetica;
          font-size: 16px;
          letter-spacing: 1.2px;
          line-height: 19px;
        }
      }

      .info--item2 {
        .info-match {
          height: 17px;
          width: 74px;
          color: #46d36a;
          font-family: Helvetica;
          font-size: 14px;
          letter-spacing: 0.4px;
          line-height: 17px;
        }
        .info-age {
          height: 17px;
          width: 25px;
          color: #ffffff;
          font-family: Helvetica;
          font-size: 14px;
          letter-spacing: 0.3px;
          line-height: 17px;
          border: 1px solid rgba(255, 255, 255, 0.41);
        }
        .info-time {
          height: 17px;
          width: 49px;
          color: #ffffff;
          font-family: Helvetica;
          font-size: 14px;
          letter-spacing: 0.3px;
          line-height: 17px;
        }
      }
      
      .info--item3 {
        height: 90px;
        width: 195px;
        color: #ffffff;
        font-family: Helvetica;
        font-size: 14px;
        line-height: 18px;
      }
  }
}

.carousel-type2 {
  @include flexy($dir: row);
  // @extend %style-box-2;
  overflow: auto;
  height: 150px;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 60px;
  button{
    background: transparent;
    border: none;
  }
  
}

.carousel-type2::-webkit-scrollbar {
  background: transparent; /* make scrollbar transparent */
}


.carousel-type2 .item--3:hover {
  .menu-info-small {
    height: 183px;
    width: 210px;
    margin-right: 11px;
    margin-top: -120px;
    margin-left: 11px;
    .info-item0{
      // width: 180px;
      padding-left: 180px;
      background: transparent;
      border: none;
    }
    .info-item1{
      button {
        height: 16px;
        width: 16px;
        // padding-right: 155px;
        background: transparent;
        border: none;
      }
      .list-text {
        height: 19px;
        width: 145px;
        margin-left: 8px;
        color: #ffffff;
        font-family: "Helvetica";
        font-size: 10px;
        line-height: 11px;
        letter-spacing: 0.2px;
      }
    }
    .info-item2{
      // width: 180px;
      .info-match{
        color: #46d36a;
        font-family: "Helvetica";
        font-size: 8px;
        line-height: 17px;
        letter-spacing: 0.4px;
        height: 17px;
        width: 74px;
      }
      .info-age{
        color: #ffffff;
        font-family: "Helvetica";
        font-size: 8px;
        line-height: 17px;
        letter-spacing: 0.3px;
        border: 1px solid rgba(255, 255, 255, 0.41);
      }
      .info-time{
        color: #ffffff;
        font-family: "Helvetica";
        font-size: 8px;
        line-height: 15px;
        letter-spacing: 0.2px;
      }
    }
    .info-item3{
      width: 180px;
      margin-left: 8px;
      color: #ffffff;
      font-family: "Helvetica";
      font-size: 10px;
      line-height: 11px;
      letter-spacing: 0.2px; 
    }
  }

}

.content-movie {
  height: 810.44px;
  width: 100%;
}
h2 {
  @extend %style-typography;
  margin-left: 60px;
}
#original {
  height: 34px;
  width: 210px;
  margin-top: -190px;
  margin-bottom: 183.5px;
  margin-left: 54px;
}

//Progress Bar
.progress-bar {
  height: 4px;
  width: 132px;
  margin-top: -6px;
  margin-left: 42px;
  visibility: hidden;
}
.bar-v {
  visibility: visible;
}

// To hide title section and progress bar on search-page
.section-vs{
  visibility: hidden;
}
.bar-v-search {
  visibility: hidden;
}
