@import url(normalize.css);
h2 {
  color: #fff;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.16px;
  line-height: 24px;
}

footer .links-footer ul li, footer .links-footer ul a, footer .links-footer:hover ul li, footer .links-footer:hover ul li a, footer .copyright {
  height: 16px;
  width: 84px;
  color: #7F7F7F;
  font-family: Helvetica;
  font-size: 13px;
  letter-spacing: 0.25px;
  line-height: 16px;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img {
  width: 100%;
  height: 100%;
}
.img--logo {
  height: 24.86px;
  width: 92px;
  margin-right: 22px;
  margin-left: 14px;
  margin-top: 22px;
}
.img--search::before {
  height: 19.15px;
  width: 18.8px;
  margin-right: 60px;
}

.img-position {
  margin-right: 5px;
}

.title-movie {
  margin-bottom: 20px;
}

nav {
  width: 100%;
  height: 68px;
  position: fixed;
  top: 0;
}
nav ul {
  margin-left: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav ul a {
  color: #fff;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 0.5px;
  line-height: 17px;
  text-align: center;
}
nav ul form {
  position: absolute;
  right: 120px;
  top: 22px;
  transition: opacity 0.4s cubic-bezier(0.665, 0.235, 0.265, 0.8);
}
nav ul form input {
  display: none;
}
nav ul form:hover {
  position: absolute;
  right: 120px;
  top: 18px;
  height: 34px;
  width: 268px;
  border: 1px solid #DDDDDD;
  background-color: #1D1C1D;
}
nav ul form:hover input {
  display: inline-block;
}

.search-box {
  display: flex;
  align-items: center;
  right: 80px;
}

.search-box img {
  margin-top: 2px;
  margin-left: 5px;
}

.search-box input {
  padding-top: 7px;
  padding-right: 105px;
  padding-bottom: 11px;
  border: none;
  margin-left: 10px;
  background-color: #1D1C1D;
  outline: none;
}

.input-text {
  right: 120px;
}

nav:hover {
  background: #141414;
}
nav:hover a {
  color: #fff;
}

.nav_item--home {
  height: 17px;
  width: 41px;
  margin-right: 19px;
  margin-left: 22px;
  margin-top: 21px;
}
.nav_item--tv {
  height: 17px;
  width: 68px;
  margin-right: 16px;
  margin-left: 0;
  margin-top: 19px;
}
.nav_item--movies {
  height: 17px;
  width: 48px;
  margin-right: 18px;
  margin-left: 0;
  margin-top: 19px;
}
.nav_item--recent-add {
  height: 17px;
  width: 121px;
  margin-right: 0;
  margin-left: 0;
  margin-top: 19px;
}
.nav_item--my-list {
  height: 17px;
  width: 106px;
  margin-right: 16px;
  margin-left: 0;
  margin-top: 19px;
}

.content-movie {
  height: 810.44px;
  width: 1440px;
  display: inline-block;
}

.main-content-search {
  margin-top: 109px;
}

.container-search {
  height: 1948px;
  width: 1440px;
  background-color: #141414;
}

.container {
  height: 2572px;
  width: 100%;
  background-color: #141414;
  position: relative;
}
.container .age-label {
  position: absolute;
  top: 505px;
  right: 1px;
  height: 32px;
  width: 95px;
  padding-left: 15px;
  padding-top: 8px;
  border-left: 2px solid white;
  background-color: #252928;
  color: #fff;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.16px;
  line-height: 19px;
}

.secondary-container {
  height: 74.31px;
  width: 459.12px;
  margin-left: 61px;
  margin-top: -561px;
  overflow: visible;
}

h2 {
  color: #fff;
}

h3 {
  height: 26px;
  width: 230px;
  color: #fff;
  font-family: Helvetica;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.22px;
  line-height: 26px;
  margin-top: 14px;
  margin-left: -4px;
}

p {
  height: 75px;
  width: 485px;
  color: #fff;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 25px;
  margin-left: -2px;
}

.button--play {
  display: inline-block;
  height: 41px;
  width: 130px;
  border-radius: 3px;
  background-color: rgba(51, 51, 51, 0.4);
}
.button--play button {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 32px;
  background: transparent;
  border: none;
  outline: none;
}
.button--play .play-text {
  color: #fff;
  font-family: Helvetica;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 19px;
  height: 19px;
  width: 30px;
  margin-right: 36px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 12px;
}
.button--play:hover {
  display: inline-block;
  height: 41px;
  width: 130px;
  border-radius: 3px;
  background-color: #E6E6E6;
}
.button--play:hover button {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 32px;
  background-color: #E6E6E6;
  border: none;
  outline: none;
}
.button--play:hover .play-text {
  color: black;
  font-family: Helvetica;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 19px;
  height: 19px;
  width: 30px;
  margin-right: 36px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 12px;
}
.button--list {
  display: inline-block;
  height: 41px;
  width: 154px;
  border-radius: 3px;
  background-color: rgba(51, 51, 51, 0.4);
}
.button--list button {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 40px;
  background: transparent;
  border: none;
  outline: none;
}
.button--list .list-text {
  color: #fff;
  font-family: Helvetica;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 19px;
  margin-left: 2px;
  height: 19px;
  width: 57px;
  margin-right: 36px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 12px;
}
.button--list:hover {
  display: inline-block;
  height: 41px;
  width: 154px;
  border-radius: 3px;
  background-color: #E6E6E6;
}
.button--list:hover button {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 40px;
  border: none;
  outline: none;
}
.button--list:hover .list-text {
  color: black;
  font-family: Helvetica;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 19px;
  margin-left: 2px;
  height: 19px;
  width: 57px;
  margin-right: 36px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 12px;
}

.carousel-type1 {
  display: flex;
  flex-direction: row;
  overflow: auto;
  height: 434px;
  width: 100%;
  margin-bottom: 63px;
  margin-right: 5px;
  margin-top: -183px;
  margin-left: 60px;
}

.carousel-type1::-webkit-scrollbar {
  background: transparent;
  /* make scrollbar transparent */
}

.carousel-type1:hover {
  display: flex;
  flex-direction: row;
}
.carousel-type1:hover .menu-info {
  height: 183px;
  width: 195px;
  margin-right: 11px;
  margin-top: -183px;
  margin-left: 11px;
}
.carousel-type1:hover .menu-info .info--item1 button {
  height: 35px;
  width: 35px;
  padding-right: 112px;
  background: transparent;
  border: none;
}
.carousel-type1:hover .menu-info .info--item1 .list-text {
  height: 19px;
  width: 145px;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 16px;
  letter-spacing: 1.2px;
  line-height: 19px;
}
.carousel-type1:hover .menu-info .info--item2 .info-match {
  height: 17px;
  width: 74px;
  color: #46d36a;
  font-family: Helvetica;
  font-size: 14px;
  letter-spacing: 0.4px;
  line-height: 17px;
}
.carousel-type1:hover .menu-info .info--item2 .info-age {
  height: 17px;
  width: 25px;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 17px;
  border: 1px solid rgba(255, 255, 255, 0.41);
}
.carousel-type1:hover .menu-info .info--item2 .info-time {
  height: 17px;
  width: 49px;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 17px;
}
.carousel-type1:hover .menu-info .info--item3 {
  height: 90px;
  width: 195px;
  color: #ffffff;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 18px;
}

.carousel-type2 {
  display: flex;
  flex-direction: row;
  overflow: auto;
  height: 150px;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 60px;
}
.carousel-type2 button {
  background: transparent;
  border: none;
}

.carousel-type2::-webkit-scrollbar {
  background: transparent;
  /* make scrollbar transparent */
}

.carousel-type2 .item--3:hover .menu-info-small {
  height: 183px;
  width: 210px;
  margin-right: 11px;
  margin-top: -120px;
  margin-left: 11px;
}
.carousel-type2 .item--3:hover .menu-info-small .info-item0 {
  padding-left: 180px;
  background: transparent;
  border: none;
}
.carousel-type2 .item--3:hover .menu-info-small .info-item1 button {
  height: 16px;
  width: 16px;
  background: transparent;
  border: none;
}
.carousel-type2 .item--3:hover .menu-info-small .info-item1 .list-text {
  height: 19px;
  width: 145px;
  margin-left: 8px;
  color: #ffffff;
  font-family: "Helvetica";
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.2px;
}
.carousel-type2 .item--3:hover .menu-info-small .info-item2 .info-match {
  color: #46d36a;
  font-family: "Helvetica";
  font-size: 8px;
  line-height: 17px;
  letter-spacing: 0.4px;
  height: 17px;
  width: 74px;
}
.carousel-type2 .item--3:hover .menu-info-small .info-item2 .info-age {
  color: #ffffff;
  font-family: "Helvetica";
  font-size: 8px;
  line-height: 17px;
  letter-spacing: 0.3px;
  border: 1px solid rgba(255, 255, 255, 0.41);
}
.carousel-type2 .item--3:hover .menu-info-small .info-item2 .info-time {
  color: #ffffff;
  font-family: "Helvetica";
  font-size: 8px;
  line-height: 15px;
  letter-spacing: 0.2px;
}
.carousel-type2 .item--3:hover .menu-info-small .info-item3 {
  width: 180px;
  margin-left: 8px;
  color: #ffffff;
  font-family: "Helvetica";
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.2px;
}

.content-movie {
  height: 810.44px;
  width: 100%;
}

h2 {
  margin-left: 60px;
}

#original {
  height: 34px;
  width: 210px;
  margin-top: -190px;
  margin-bottom: 183.5px;
  margin-left: 54px;
}

.progress-bar {
  height: 4px;
  width: 132px;
  margin-top: -6px;
  margin-left: 42px;
  visibility: hidden;
}

.bar-v {
  visibility: visible;
}

.section-vs {
  visibility: hidden;
}

.bar-v-search {
  visibility: hidden;
}

footer {
  background-color: #141414;
  height: 246px;
  width: 860px;
  margin-right: 362px;
  margin-left: 229px;
  margin-top: 119px;
  margin-bottom: 35px;
}
footer .social-media {
  width: 191px;
  display: flex;
  justify-content: space-between;
}
footer .links-footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .links-footer ul li {
  width: 100%;
  list-style: none;
  margin-bottom: 15px;
  margin-right: 65px;
  margin-left: 5px;
  color: #7F7F7F;
}
footer .links-footer ul a {
  text-decoration: none;
}
footer .links-footer:hover {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .links-footer:hover ul li {
  width: 100%;
  list-style: none;
  margin-bottom: 15px;
  margin-right: 65px;
  margin-left: 5px;
  color: #7F7F7F;
}
footer .links-footer:hover ul li a {
  text-decoration: underline;
}
footer .col--1 {
  margin-left: -4px;
  margin-top: 3px;
  margin-bottom: 61px;
}
footer .col--2 {
  margin-left: -78px;
  margin-top: 3px;
  width: 100px;
}
footer .col--3 {
  width: 80px;
  margin-left: -2px;
  margin-top: 3px;
}
footer .col--4 {
  width: 128px;
  margin-left: 20px;
  margin-top: 3px;
}
footer .copyright {
  height: 17px;
  width: 116px;
  margin-top: 58px;
}

.video-body {
  background-color: #252928;
  display: flex;
  align-content: center;
}

.icon-back {
  position: fixed;
  top: 0;
  margin-left: 45px;
  margin-top: 72px;
}

iframe {
  width: 1458px;
  height: 922px;
}

/*# sourceMappingURL=style.css.map */
