////Style buttons and grids
%style-box {
    padding: 15px 10px;
    border: none;
}

%style-box-1 {
    width: 100%;
    border: none;
    height: 434px;	
    width: 217px;
}

%style-box-2 {
    width: 100%;
    border: none;
    height: 121.69px;	
    width: 217px;
}

//style letters
%style-typography{
    color: $white;	
    font-family: $font-type;	
    font-size: 20px;	
    font-weight: bold;	
    letter-spacing: 0.16px;	
    line-height: 24px;
}

%style-footer{
    height: 16px;	
    width: 84px;	
    color:$font-secondary-color;	
    font-family: Helvetica;	
    font-size: 13px;	
    letter-spacing: 0.25px;	
    line-height: 16px;
  }